<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Automation Suite">

    <test name="UI Tests">
        <classes>
            <class name="talentsage.UI.Login"/>
        </classes>
    </test>

    <test name="API Tests">
        <classes>
            <class name="talentsage.API.API"/>
        </classes>
    </test>

</suite>
